header {
    display: flex;
    min-height: 70px;
    background-color: #009929;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}




.flex-container{
    display: flex;
    background: bisque;
    
}

.box{
    display: flex;
    justify-content: space-around;
}

