/*Header*/

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #8f0065;
    text-decoration: underline;
}

header {
    display: flex;
    min-height: 70px;
    background-color: #009929;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}

/*Main*/

main{
    background-color: #ade0b3;
}


/* Text area*/

.contenedor{
    width: 940px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    justify-content: center;
    
}

.contenedor div{
    display: inline-block;
    
}

textarea{
    font-family: Courier, sans-serif;
    height: 6em;
    width: 400px;
    resize: vertical;
    
    border-width: 2.54px;
    border-color: #1ca381;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

textarea:hover{
    border-color: #1f6b28;
    border-style: dashed;
}

.izq{
    width: 40%;
}

.center{
    margin: 0 auto;
    vertical-align: top;
    width: auto;
}

.der{
    width: 40%;
}

.box{
    display: flex;
    justify-content: space-around;
}

/* Pie de pagina*/

footer{
    background-color: #009929;
    text-align: center;
    padding: 30px;
}

